@import url("mutual.css");

$topRed: rgba(249, 105, 69, 0.6);
$downRed: rgba(249, 105, 69, 0);

@mixin setbg {
	background: linear-gradient(to left bottom, $topRed, $downRed);
}
	
main{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 70%;
        border-radius: 20px;
	@include setbg;
}
#intro{
        float: left;
        height: 100%;
        width: 50%;
}

#descriptionText{
	font-size: 1.2em;
}
