@import url("mutual.css");
@charset "UTF-8";

body{
	overflow-x: hidden;
	overflow-y: auto;
	background-color: var(--whiteish);
}

#timeDiv{
	position: absolute;
	top: 15%;
	right: 0%;
	opacity: 0;
	width: 20vw;
	height: 35vh;
	box-shadow: 10px 10px 15px var(--shadow);
	border-radius: 15px;
	background-color: var(--lighterBlue);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	z-index: -3;
}
.time{
	font-family: "FuturaBook";
	font-size: 30px;
	margin: 5px 0 0 0;
	padding: 0;
	color: var(--whiteish);
}

/* Styling the Crypto Tracker */
#cryptos{
        background-color: var(--lighterBlue);
	width: 20vw;
	height: 35vh;
	position: absolute;
	top: 55%;
	right: 3%;
	border-radius: 15px;
	box-shadow: 10px 10px 15px var(--shadow);
	
}
#price{
	color: var(--whiteish);
}
#cryptos input{
	position: relative;
	top: 10%;
	left: 12%;
	transform: scale(125%);
	width: 13vw;
	border-radius: 10px;
	font-family: "ProximaBold";
}
#cryptos input:focus{
	outline: 5px double var(--red);
}
#cryptos ul{
	position: relative;
	top: 15%;
	width: 23vw;
	height: 20vh;
	overflow: auto;
	list-style-type: none;
}
#cryptos ul li{
	width: inherit;
	font-family: "FuturaBook";
}
#cryptos ul li a{
	color: var(--darkestBlue);
	padding: 1px;
	text-decoration: none;
}
#cryptos ul li a:hover{
	color: var(--whiteish);
}
.crypto{
	font-size: 20px;
}
.exit-img{
	width: 15px;
	height: 15px;
	cursor: pointer;
	padding: 0 10px 0 10px;
}

/* The player with the most points */
#best_achiever{
	position: absolute;
	top: 12%;
	left: 1%;
	width: 25vw;
	height: 30vh;
	border-radius: 15px;
	background: var(--lighterBlue);
	box-shadow: 10px 10px 15px var(--shadow);
	color: var(--whiteish);
}
#best_achiever p:not([id="uname"]) {
	font-family: "ProximaBold";
}
#inner_achiever{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#name_points{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#highest_ppic{
	width: 30vh;
	height: 20vh;
	border-radius: 8px;
}
#uname{
	font-family: 'PointWarrior', sans-serif;
	transform: scale(150%);
}
#points{
	transform: scale(110%);
}
#highest_title{
	margin-left: 30px;
	text-decoration: underline;
	transform: scale(110%);
}

/* Styling the Main Section */
main{
	/*background-color: var(--darkBlue); */
	background: linear-gradient(to bottom, var(--darkBlue), var(--lighterBlue));
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	height: 100vh;
	width: 45vw;
	z-index: -3;
}
#title{
	width: 10vw;
	height: 10vh;
	position: relative;
	left: 2%;
}
#title hr{
	z-index: 3;
	width: 0;
	height: 2px;
	background-color: var(--whiteish);
	transition: width 0.5s cubic-bezier(0.91, 0.63, 0.35, 0.82);
}
#title h2{
	position: relative;
	top: 20%;
	color: var(--white);
	font-family: "ProximaBold";
	z-index: 3;
}
#title:hover hr{
	width: 10vw;
}



/* Responsive Design */
@media screen and (max-width: 400px){
	#timeDiv{
		transform: scale(60%);
	}
	#cryptos{
		transform: scale(60%);
		right: -15%;
	}
}

@font-face{
	font-family: PointWarrior;
	src: url("../fonts/fonts/victorregular.ttf");
}
